body{
    /* background-image: url(images/background.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    height: 100%;
    color: #777777;
    font-size: 18px;
    line-height: 1.5;
}

.bio{
  /* background-color: #4682b4; */
  color: #ffffff;
  background-image: linear-gradient(to bottom left, #17293a, #5e758e);
  width: 100%;
  padding: 0 0 75px 0
}

.body-css{
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

.bio-name{
    background-color: rgb(2, 19, 35);
    color: #fff;
    padding: 25px;
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#transparent{
    background-color: rgb(255, 255, 255, .5);
}

.padding-0{
    padding: 0;
}

#menu-buttons{
    min-width: 210px;
}

.portfolio-btn{
    border: #cccccc;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
}

.display-btn{
    margin: 0 auto;
    width: 100%;
    height: 45px;
}

#bio{
    color: #4aaaa5;
    text-align: left;
    padding: 30px 0 25px 0;
    border: #cccccc;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 70%;
}

#portfolio{
    padding: 0 20px 0 20px;
}

.scroll-menu{
    height: 375px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pjct-img {
  border-width: 2px;
  border-style: solid;
  border-color: #777777;
  width: 100%;
  height: 100%;
}

p {
    line-height: 1.5;
    margin: 5px 0 25px 0;
}

footer{
    bottom: 0;
    width: 100%;
    position: fixed;
    border-width: 5px 0 0 0;
    border-style: solid;
    border-color: rgb(102, 102, 102, .5);
    margin: 0px 0 0 0;
    width: 100%;   
}

#footer-bg{
    background-color: rgb(0, 0, 0, .5);
}

#copyright{
    color: #c9c9c1;
    text-align: center;
    padding: 0 0 0 0;    

}

figure {
    width: 160px;
    height: 120px;
    position: relative;
}

.link-area {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.link-area figure{
    margin: auto;

}

.link-img{
    height: 100%;
    width: 100%;
}

h3{
    text-align: center;
    color: #000;
    text-decoration: underline;
}

.pLink{
    position: absolute;
    top: 0px;
    width: 100%;
    line-height: 2;
    padding: 5px 0 5px 0;
    background-color: #4aaaa5;
    opacity: 0;
}

.gLink{
    position: absolute;
    top: 100px;
    width: 100%;
    line-height: 2;
    padding: 5px 0 5px 0;
    background-color: #4aaaa5;
    opacity: 0;
}

.fa-linkedin{
    /* width: 10px; */
    color: rgb(0,119,181);
    /* background-color: #fff */
}

.fa-github-square{
    color: rgb(36,41,46)
}

.project{
  width: 30%;
  height: 35%;
  margin: 5px
}

.project-figure{
  width: 100%;
  height: 100%;
  position: relative;
}

.tag p{
  margin: 5px;
  line-height: 1
}

.tag{
  text-align: center;
  font-size: 16px;
  background-color: #ffffff;
  border-color: #5e758e;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.description{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, .75);
  color: #fff;
  display: none;
  text-align: center;
  font-weight: 600;
  padding: 0 5px 0 5px;
}

.scroll{
  align-content: center;
  margin: 0 auto;
  background-color: rgb(0, 0, 0, .25);
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 30px;
  padding: 5px 40px;
  font-size: 26px;
}

.bio-img{
  display: block;
  margin: 0 auto;
  border-radius: 45%;
}

.fa-proj{

  color: #fff;
  /* position: absolute; */
  margin: 10px;
  float: left;
  /* clear: both; */
  font-size: 5rem;
}

.p-icon{
  display: inline-block;
  /* margin: 30px 0px 0px 20px; */
  position: absolute;
  top: 15px;
  left: 31px;
}

.g-icon{
  position: absolute;
  top: 12px;
  right: 36px;
}

.code{
  display: block;
}

@media screen and (max-width: 1059px) {

  .fa-proj{
    font-size: 4rem;
  }

  .g-icon{
    position: absolute;
    top: 33px;
    right: 25px;
  }

  .p-icon{
    display: inline-block;
    /* margin: 30px 0px 0px 20px; */
    position: absolute;
    top: 30px;
    left: 20px;
  }

  .code{
    font-size: 14px;
  }
}

/* 969 */



@media screen and (max-width: 719px) {

  .tag {
    font-size: 12px;
    bottom: -40px;
    margin: 0 auto;
  }

  .project{
    margin-bottom: 40px;
  }

  .fa-proj{
    font-size: 2rem;
  }

  .g-icon{
    position: absolute;
    top: 18px;
    right: 5px;
  }

  .p-icon{
    display: inline-block;
    /* margin: 30px 0px 0px 20px; */
    position: absolute;
    top: 19px;
    left: 0px;
  }

  .code{
    font-size: 14px;
  }
}

/* 359 */

@media screen and (max-width: 359px) {

  .project{
    width: 75%;
    height: 12%;
    margin: 5px
  }

  .tag {
    font-size: 12px;
    bottom: -40px;
    margin: 0 auto;
  }

  .project{
    margin-bottom: 40px;
  }

  .fa-proj{
    font-size: 4rem;
  }

  .g-icon{
    position: absolute;
    top: 18px;
    right: 5px;
  }

  .p-icon{
    display: inline-block;
    /* margin: 30px 0px 0px 20px; */
    position: absolute;
    top: 19px;
    left: 0px;
  }

  .code{
    font-size: 12px;
  }
}